@import url(./components/dropDown.css);

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    color: #151515;
}

/* =========================Search form==================== */

.custom-select__control{
    border: none !important;
    background-color: inherit !important;
    min-width: 160px;
}
.custom-select__control--is-focused{
    border-radius: 12px !important;
    box-shadow: 0 0 0 1px #151515!important;
    
}

.custom-select__indicator-separator{
    display: none !important;
}

.custom-select__dropdown-indicator {
    /* display: none !important; */
    background: url(./img/down.svg) 50% 50% /10px 10px no-repeat !important;
    width: 16px !important;
    height: 16px !important; 
    padding-right: 24px!important;
}

.custom-select__dropdown-indicator > svg {
    display: none !important;
}

.custom-select__single-value{
    font-family: 'Poppins', sans-serif!important;
    background: inherit!important;
    font-size: 15px!important;
    font-weight: 700!important;
    color: #151515!important;
    /* height: 15px!important; */
    padding-left: 8px !important;
    padding-bottom: 5px!important;
    padding-top: 5px!important;
    
    
}

.custom-select__value-container{
    padding-right: 0px!important;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
